// Global function
.title-auth {
    line-height: 0.7;
}

//landing page 
.background-landing-page {
    background-image: url('/public/images/landingpage.jpg');
    background-size: cover;
    height: 100vh;
}

// Login
.background-login{
    background-image: url('/public/images/login.jpg');
    background-size: cover;
    height: 100vh;
}

// Register 
.background-register{
    background-image: url('/public/images/register.jpg');
    background-size: cover;
    height: 100vh;
}

// forgot Password
.background-forgot-password {
    background-image: url('/public/images/forgot-password.jpg');
    background-size: cover;
    height: 100vh;
}