.banner-my-profile{
    height: 50vh;
    background-size: cover;
    position: relative;
}

.banner-my-profile-upload::after{
    content: '';
    display: block;
    height: 50vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
}


.nav-item {
    margin-left: 50px;
    margin-right: 10px;
}

.profile-image{
    height: 250px;
}

.image-profile {
    position: absolute;
    top: -120px;
}

/* change profile */
.profilepic {
    position: relative;
    width: 270px;
    height: 270px;
    border-radius: 5%;
    overflow: hidden;
    background-color: #111;
  }

  .profilepic:hover .profilepic__content {
    opacity: 1;
  }

  .profilepic:hover .profilepic__image {
    opacity: .5;
  }

  .profilepic__image {
    /* height: 100%; */
    /* width: 100%; */
    object-fit: cover;
    opacity: 1;
    transition: opacity .2s ease-in-out;
  }

  .profilepic__banner {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    opacity: 1;
    transition: opacity .2s ease-in-out;
    filter: brightness(0.8)
  }

  .profilepic__content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 0;
    transition: opacity .2s ease-in-out;
  }

  .profilepic__icon {
    color: white;
    padding-bottom: 8px;
  }

  .fas {
    font-size: 20px;
  }

  .profilepic__text {
    text-transform: uppercase;
    font-size: 12px;
    width: 50%;
    text-align: center;
  }

  /* Styling the file input */
.profilepic input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }


.profile-location{
    width: auto;
    background-color: #89D5FF;
    color: black;
    padding: 10px;
}

.skills-profile {
    background-color: whitesmoke;
    border-radius: 10px;
}

.social-media-profile {
    display: inline-block;
}

.social-media-input {
    width: 80%;
    margin-left: 10px;
    height: 35px;
    padding-left: 10px;
}

.social-media-input:focus {
    outline: none;
}

/* Change Password Login */
.banner-need-login{
    background-image: url('/public/images/change-password.png');
    height: 70vh;
    background-size: cover;
}

.banner-need-login-title {
    margin-top: 22vh;
    line-height: 1.2;
}

.banner-need-login-sub-title {
    font-size: 15px;
}
