.banner-komunitas{
    background-image: url('/public/images/community.png');
    height: 80vh;
    background-size: cover;
    border-radius: 0 0 86px 86px;
}

.nav-item {
    margin-left: 50px;
    margin-right: 10px;
}

.banner-komunitas-title {
    margin-top: 22vh;
    line-height: 1.5;
}

.banner-komunitas-sub-title {
    font-size: 15px;
}

.banner-komunitas-form {
    border-radius: 10px;
    height: 50px;
    padding-left: 20px ;
}

.banner-komunitas-form:focus {
    outline: none;
}

/* create community */
.banner-komunitas-create{
    background-image: url('/public/images/create-community.png');
    height: 80vh;
    background-size: cover;
    border-radius: 0 0 86px 86px;
}

.nav-item {
    margin-left: 50px;
    margin-right: 10px;
}

.banner-komunitas-create-title {
    margin-top: 22vh;
    line-height: 1.5;
}

.banner-komunitas-create-sub-title {
    font-size: 15px;
}

.banner-komunitas-create-form {
    border-radius: 10px;
    height: 50px;
    padding-left: 20px ;
}

.banner-komunitas-create-form:focus {
    outline: none;
}

/* Review community */
.navbar{
    position: relative;
    z-index: 1;
}

.banner-komunitas-review{
    height: 80vh;
    background-size: cover;
    border-radius: 0 0 86px 86px;
    position: relative;
}

.banner-komunitas-review::after{
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    border-radius: 0 0 86px 86px;
}


.nav-item {
    margin-left: 50px;
    margin-right: 10px;
}

.banner-komunitas-review-title {
    margin-top: 22vh;
    line-height: 1.5;
    position: relative;
    z-index: 1;
}

.banner-komunitas-review-sub-title {
    font-size: 15px;
}

.banner-komunitas-review-form {
    border-radius: 10px;
    height: 50px;
    padding-left: 20px ;
}

.banner-komunitas-review-form:focus {
    outline: none;
}

.form-post {
    width: 100%;
    height: auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    color: black;
}

.input-post {
    background-color: #EDE9E9;
    width: 100%;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
}

.input-post:focus {
    outline: none;
}

.image-file {
    background-color: #EEEBEB;
    padding: 10px;
    width: auto;
    display: block;
    border-radius: 20px;
}

.button-posting {
    background-color: #EEEBEB;
    padding: 10px;
    width: 20vh;
    border-radius: 20px;
}

.background-komunitas-review {
    background-color: #EDE9E9;
}

.user-info{
    line-height: 0.5;
}

/* comment view */
.comments {
    background-color: #EEEBEB;
    padding: 12px;
    border-radius: 5px;
}

.form-comment{
    width: 100%;
    height: 40px;
    padding-left: 10px;
}

.form-comment:focus{
    outline: none;
}

.button-comment {
    background-color: #EEEBEB;
    border-radius: 20px;
    height: 40px;
    width: 150px;
}