.banner{
    background-image: url('/public/images/home.png');
    height: 80vh;
    background-size: cover;
    border-radius: 0 0 86px 86px;
}

.nav.navbar-nav.navbar-right li a {
    color: blue;
}