.banner-upload-karya{
    background-image: url('/public/images/upload.png');
    height: 80vh;
    background-size: cover;
    border-radius: 0 0 86px 86px;
}

.nav-item {
    margin-left: 50px;
    margin-right: 10px;
}

.banner-upload-karya-title {
    margin-top: 22vh;
    line-height: 1.5;
}

.banner-upload-karya-sub-title {
    font-size: 15px;
}

.banner-upload-karya-form {
    border-radius: 10px;
    height: 50px;
    padding-left: 20px ;
}

.banner-upload-karya-form:focus {
    outline: none;
}